{% extends "miApp/padre.html" %}

{% load static %}


{% block medicacion %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicacion</title>
</head>
<body>
    <form action="miApp/inicio/" method="POST"> {% csrf_token %}
        
        <p>Nombre: <input type="text" name="nombre"></p>
        <p>Fecha de vencimiento: <input type="text" name="fecha_vencimiento"></p>

        <input type="submit" value="Enviar">
        
        
    </form>
</body>
</html>


{% endblock %}

                        